<div class="login-page-holder" *ngIf = "!dataServ.ReturnLogged()" >
  <div class="login-form-section">
      <div class="login-form-header-holder">
          <div class="header">Влез в система</div>
      </div>       
      <div class="input-field-wrapper">    
          <span class="label" for="">Потребител</span>                             
          <input class="field" type="text" [(ngModel)]="username" >    
          <span class="label" for="">Парола</span>                             
          <input class="field" type="password" [(ngModel)]="password" >                  
      </div>
      <div class="button-holder">
          <div class="login-btn" (click)="Login()">Вход</div> 
      </div>      
  </div>    
</div>   
<div class="side-section" *ngIf="dataServ.ReturnLogged()">
  <ul class="side-list">
    <li class="side-list-item">
        <div routerLink="/recipe" class="list-icon home" routerLinkActive="active" ></div>
    </li>
    <li class="side-list-item">
        <div routerLink="/recipes" class="list-icon recipes" routerLinkActive="active"></div>
    </li>                           
  </ul>       
</div>
<div class="content" *ngIf="dataServ.ReturnLogged()">
  <router-outlet></router-outlet>
</div>